<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <title>バス運行システム - iPad</title>
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no"
    />
    <link rel="stylesheet" href="/tablet.css" />
  </head>
  <body>
    <header>
      <h1>運行画面</h1>
    </header>
    <main>
      <form action="/navigation" method="get" class="tablet-form">
        <label for="系統">系統</label>
        <select name="系統" id="系統">
          <option value="1">幹名駅2</option>
          <option value="2">名駅20</option>
          <option value="3">金山22</option>
        </select>

        <label for="行先">行先</label>
        <select name="行先" id="行先">
          <option value="1">野跡駅</option>
          <option value="2">中川車庫前</option>
          <option value="3">戸田</option>
        </select>

        <input type="submit" value="時刻管理画面へ" />
      </form>

      <div class="printStation">
        <form class="printHeader" action="/operationTime" method="get">
          <h3>駅一覧</h3>
          <input class="timeManagement" type="submit" value="運行開始" />
          <h3>合計33駅</h3>
        </form>
        <p>名古屋駅</p>
        <p>六反公園</p>
        <p>篠原橋</p>
        <p>東海橋</p>
        <p>稲永町</p>
        <p>野跡駅</p>
      </div>
    </main>
  </body>
</html>
