<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <title>予約管理システム</title>
    <!-- レスポンシブ対応用 -->
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no"
    />
    <link rel="stylesheet" href="/main.css" />
  </head>
  <body>
    <header>
      <h1>バス運行システム</h1>
    </header>
    <main>次回以降実装開始</main>
  </body>
</html>
